<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenedor</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>

    <nav> <a href="/">Home</a> </nav>



    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>E-mail</th>
            <th>Formación</th>
            <th>Edad</th>
            <th>Comuna</th>
            <th>Región</th>
            <th>Estudiante</th>
        </tr>
        <tr>
            <form id="formulario" action="/region?_method=put" method="POST">
                <td> <input type="hidden" id="in_id" name="id"></td>

                <td><input type="text" id="in_nombre" name="nombre" placeholder="Nombre"></td>
                <td><input type="text" id="in_apellido" name="apellido" placeholder="Apellido"></td>
                <td><input type="text" id="in_mail" name="mail" placeholder="E-mail"></td>
                <td><input type="text" id="in_formacion" name="formacion" placeholder="Formación"></td>
                <td><input type="text" id="in_edad" name="edad" placeholder="Edad"></td>
                <td><input type="text" id="in_comuna" name="comuna" placeholder="Comuna"></td>
                <td><input type="text" id="in_region" name="region" placeholder="Region"></td>
                <td><input type="text" id="in_estudiante" name="estudiante" placeholder="Estudiante"></td>
                <td><button id="botonGuardar"><span class="material-symbols-outlined">edit</span></button>
                
                           
                </td>
            </form>
        </tr>

        {{#each personas}}
        <tr id="tr-{{id}}" class="eliminarFila">

            <td>{{id}} </td>
            <td>{{nombre}} </td>
            <td> {{apellido}}</td>
            <td>{{mail}}</td>
            <td>{{formacion}}</td>
            <td>{{edad}}</td>
            <td>{{comuna}}</td>
            {{!-- <td>{{name}}</td> --}}
            <td>{{region}}</td>
            <td>{{estudiante}}</td>
            <td><span class="material-symbols-outlined editarFila"></span></td>
            <td><a href="#" name="onclickEditar" id="{{id}}"><span class="material-symbols-outlined editarFila">edit</span></a>
            </td>
            <td>
                <a href="/mantenedor/{{id}}?_method=delete">
                <span class="material-symbols-outlined btn_delete">
                        delete
                    </span></a>
            </td>
        </tr>

        {{/each}}
    </table>

    {{!-- --}}

    <script src="mantenedor.js"></script>
   
    <script>
        const link =  document.getElementsByName("onclickEditar");
        link.forEach(element => {
            element.addEventListener("click", editar(element.id));
        } );
        //link.addEventListener("click", (editar({{id}}))  )
       
        

        function editar(id) {
            const tr = document.getElementById(`tr-${id}`);
            
            document.getElementById("in_nombre").value = tr.children[1].textContent;
            document.getElementById("in_apellido").value = tr.children[2].textContent;
            document.getElementById("in_mail").value = tr.children[3].textContent;
            document.getElementById("in_formacion").value = tr.children[4].textContent;
            document.getElementById("in_edad").value = tr.children[5].textContent;
            document.getElementById("in_comuna").value = tr.children[6].textContent;
            document.getElementById("in_region").value = tr.children[7].textContent;
            document.getElementById("in_estudiante").value = tr.children[8].textContent;
            document.getElementById("btn_add").hidden =true;
            document.getElementById("btn_edit").hidden =false;
            const form = document.getElementById("formulario");
            console.log("hffhg")
            form.action = `/region?_method=put`
            console.dir(form)
        }
    </script>
</body>

</html>